doctype html
html(lang='en')
    head
    title Welcome - Supweather


    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/welcome.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600&display=swap")

    body
        .box
            img(src='/media/logo.png' alt='supweather logo')
            h1 Welcome on Supweather
            h2 What's the weather like?
            a(href='/login').login Login
            a(href='/register').register Register