extends ../template/default

block config
    - const title = 'Add City'
    link(rel='stylesheet', href='css/add.css')

block content
    .box
        h1 Add a city
        div
            input( type='text', id='cityInput', placeholder='Search a city', onkeyup='updateCities()')
            ul#citiesContainer

        script(src='/js/add-city.js')

        a(href='/home') Back to home page