extends ../template/default

block config
    - const title = 'Delete City'
    link(rel='stylesheet', href='css/delete.css')

block content
    .box
        h1 Delete a city
        .cities
            each city in cities
                form(action='/delete', method='POST')
                    p=city.name + ', ' + city.country
                    button(type='submit', name='cityId', value=city.id) X

        a(href='/home') Back to home page