extends defaut-template
block config
    - const title = 'Add City'
    link(rel='stylesheet', href='/css/authentication.css')

block content

    h1 Add a city

    form
        select(action='/users/add-city', method='POST')
            option(value='Paris-FR') Paris, FR
            option(value='London-GB') London, GB
            option(value='Berlin-DE') Berlin, DE
        button(type='submit') Add
