extends defaut-template
block config
    - const title = 'Authentication'
    link(rel='stylesheet', href='/css/authentication.css')

block content
    h1 Create an account or login
    a(href='/users/register') Register
    br
    a(href='/users/login') Login