extends defaut-template
block config
    link(rel='stylesheet', href='css/index.css')
    - const title = 'Index'

block content
    h1 Welcome on Supweather!
    p To login please go to the authentication page.