if typeof errors != 'undefined'
    ul.errors
        each error in errors
            li.error= error.msg

if success_msg != ''
    ul.success
        li.success= success_msg

if error_msg != ''
    ul.error
        li.error= error_msg

if error != ''
    ul.error
        li.error= error