each detail in details
    ul.detial
        li.day= detail.day
        li.icon
            img(src= '/media/weather/' + detail.icon + '.png', alt=detail.description)
        li.temp_min= detail.min
        li.temp_max= detail.max