doctype html
html(lang='en')
    head
        title Register - Supweather


        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='/css/authentication.css')
        link(rel='stylesheet', href='/css/messages.css')
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600&display=swap")

    body
        .box
            img(src='/media/logo.png' alt='supweather logo')
            h1 Welcome on Supweather
            form(action='/register', method='POST')
                include ../template/messages

                input( type='text', id='name', name='name', placeholder='Name', value=name || '' )
                input( type='email', id='email', name='email', placeholder='E-mail', value=email || '' )
                input( type='email', id='confirmationemail', name='confirmationemail', placeholder='Confirmation Email', value=confirmationemail || '' )
                input( type='password', id='password', name='password', placeholder='Password' )
                input( type='password', id='confirmationpassword', name='confirmationpassword', placeholder='Confirmation Password' )

                button(type='submit') Register

                a(href='/login') Already have an account?
